
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #888888;
  line-height: 26px;
}
h3{
  color: #111111;
  margin-top: 0px;
  font-weight: 700;
  line-height: 1.2;
}
.header__action{
  color: #111111;
  margin-top: 0px;
  font-weight: 100;
  line-height: 1.2;
}
.header__top-block-1{
  margin: 10px;
  margin-left: 5%;
  margin-right: 5%;
}
.header-area{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.align-items-center{
  height: 12%;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}
.logo{
  width: 160px;
  cursor: pointer;
}
.block-1-col-2{
  display: flex;
}
.features__item-2-1{
  display: flex;
  margin-left: 90px;
  align-items: center;
}
.features_item-2-2{
  margin-left: 70px;
  display: flex;
  align-items: center;
}
.fa-credit-card{
  font-size: 35px;
  color: #fd7e14;
  margin-right: 20px;
  transition: transform 0.3s;
}
.fa-credit-card:hover{
  transform: translateY(-10px);
}
.fa-arrows-rotate{
  font-size: 35px;
  color: #fd7e14;
  margin-right: 20px;
  transition: transform 0.3s;
}
.fa-arrows-rotate:hover{
  transform: translateY(-10px);
}
.block-1-col-3{
  flex: 1;
  text-align: right;
  margin-right: 30px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}
nav ul li a i{
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}
.has-noti{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-count{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  background-color: #fd7e14;
  font-weight: 500;
  border-radius: 50%;
  top: -5px;
  right: -5px;
}
.header_middle-block-2{
  background-color:  #f5f5f5;
  margin-left: 0%;
  display: flex;
  align-content: center;
}
.header_search-input{
  display: flex;
}
.header__middle-right{
  display:flex;
  justify-content: end;
  margin-left: 200px;
}
.header__select{
  display: flex;
}
.header__lang{
  display: flex;
}
.header_search{
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  padding-right: 5px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background-color: white;
  margin-left: 70px;
}
.header_search form{
  width: 100%;
  height: 100%;
  vertical-align: middle;
  margin-left: 0%;
}
.header_search-input input{
  margin-left: 20px;
  width: 300px;
  height: 38px;
  border: 0;
  outline: none;
  background-color: transparent;
}

.header_search-input button{
  margin-left: 50px;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.fa-magnifying-glass{
  font-size: 18px;
}
.header_search-select select{
  border: none;
}
.header__select{
  margin-left: 50px;
}
.contact a{
  text-decoration: none;
  color:#fd7e14;
}
.header__select select{
  background: transparent;
  border: 0px;
}
.header__bottom{
  background-color: #111111;
  display: flex;
}
.main-menu{
  margin-left: 50px;
}
.main-menu ul li a{
  text-decoration: none;
  color: #ffffff;
}
